.dashboardLayout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.mainContent {
  flex: 1;
  background-color: #f9fafd;
  padding: 1rem;
}
